html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Kanit', sans-serif;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #2c253d;
}

section {
  background: #2c253d;
  color: Black;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  margin: 0;
  padding-bottom: 30px;
}

.headings {
  font-size: 70px;
  font-weight: 600;
  color: DarkSlateBlue;
  text-shadow: -1px -1px 0 DarkSlateBlue, 1px -1px 0 DarkSlateBlue, -1px 1px 0 DarkSlateBlue, 1px 1px 0 DarkSlateBlue;
}

.a {
  text-decoration: none;
  color: black;
  margin-top: 15px;
}

/* Time Stamp */

.clock {
  color: Gainsboro;
}

@media screen and (min-width: 1080px) {
  .clock {
  }
}

.cur-date {
  display: flex;
  align-content: center;
  justify-content: center;
}

.date-text {
  font-size: 70px;
  font-weight: 400;
  padding-left: 40px;
  padding-right: 40px;
}

.cur-day {
  display: flex;
  font-size: 70px;
  font-weight: 400;
  padding-left: 40px;
  padding-right: 40px;
}

.day-suf {
  font-size: 70px;
  font-weight: 400;
}

.cur-time {
  width: 500px;
  margin: 0 auto;
  display: flex;
}

.dig-clock {
  text-align: center;
  width: 100%;
  font-size: 90px;
  font-weight: 500;
}

.time {
  width: 500px;
  margin: 0 auto;
  display: flex;
}

.time-phrase {
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
}

@media only screen and (max-width: 840px) {
  .clock {
    display: none;
  }
}

/* Analog Clock */

.clk {
  width: 30rem;
  height: 30rem;
  border: 7px solid #2c253d;
  box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
                inset 4px 4px 10px rgba(0,0,0,0.5),
                inset -4px -4px 10px rgba(67,67,67,0.5),
                4px 4px 10px rgba(0,0,0,0.3);
  border-radius: 50%;
  margin: 70px auto;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.outer-clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #2c253d;


  overflow: hidden;
}

.outer-clock-face::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg)
}

.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face .marking{
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background: #1df52f;
  z-index: 0;
  left: 49%;
}

.outer-clock-face .marking {
  background: #bdbdcb;
  width: 3px;
}

.outer-clock-face .marking.marking-one {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg)
}

.inner-clock-face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #2c253d;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}

.inner-clock-face::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  margin-left: -9px;
  margin-top: -6px;
  background: #4d4b63;
  z-index: 11;
}

.hand {
  width: 50%;
  right: 50%;
  height: 6px;
  background: #61afff;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
  width: 30%;
  z-index: 3;
}

.hand.min-hand {
  height: 3px;
  z-index: 10;
  width: 40%;
}

.hand.second-hand {
  background: #ee791a;
  width: 45%;
  height: 2px;
}

/* Nav Bar */

.logo {
  height: 60px;
  margin: 0px;
  background: #2c253d;
  border-radius: 20px;
  border: Gainsboro solid 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.active {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 40px;
  padding-bottom: 5px;
}

.logo:hover {
  border: 1px inset rgba(255, 255, 255, 1);
  background: Gainsboro;
  box-shadow: 0 0 40px 40px rgb(64, 54, 124, 0.2) inset, 0 0 0 0 rgb(64, 54, 124, 0.2);
}

.topnav {
  overflow: hidden;
  background-color: #2c253d;
  border-top: 2px #cccccc solid;
  border-bottom: 2px #cccccc solid;
  position: sticky;
  top: 0;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}

.nav-link {
  font-size: 20px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 10px;
}

.icon {
  font-size: 45px;
  padding-top: 16px;
  padding-right: 10px;
}

.nav-color {
  color: DarkSlateBlue;
}

.nav-color:hover {
  color: #6b5fb9;
}

.nav-color:active {
  color: #508a3d;
}

@media screen and (max-width: 1080px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;

  }
}

@media screen and (max-width: 1080px) {
  .topnav.responsive {position: sticky;}
  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .active {
    padding-bottom: 5px;
  }
}

.box-3 {
  background-color: #2c253d;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: auto;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-abt {
  color: Gainsboro;
  transition: all 0.5s;
  position: relative;
}

.btn-abt::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(72, 61, 139, 0.2);
  transition: all .5s;
  border-radius: 150px;
  border: 1px outset rgba(220, 220, 220, 1);
}

.btn-abt:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}

.btn-abt::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all .8s;
  border: 1px inset rgba(220, 220, 220, 1);
  transform: scale(1.2,1.2);
  border-radius: 150px;
}

.btn-abt:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.btn-abt:active::before {
  opacity: 1;
  transform: scale(1,1);
}
.btn-abt:active::after {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}

/* Contact */

#contact-me {
  display: none;
}

.footer {
  position: fixed;
  background: rgb(220, 220, 220, 0.9);
  bottom: 15%;
  right: 25%;
  left: 25%;
  text-decoration: none;
  text-align: center;
  color: Gainsboro;
  border-radius: 15px;
  z-index: 5;
  color: black;
}

.contact {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

input textarea {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

.contact-box {
  border-radius: 10px;
  font-family: 'Kanit', sans-serif;
  padding: 10px;
  width: 80%;
  height: 25px;
}

.contact-box-1 {
  border-radius: 10px;
  font-family: 'Kanit', sans-serif;
  padding: 10px;
  width: 80%;
  height: 200px;
}

.contact-box:focus {
  outline: none;
}

.msg_send {
  border: none;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
}

.msg_send:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
}

.msg_send:before {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
  border-radius: 10px;
}

.msg_send-sep {
  padding: 15px 60px 15px 120px;
  width: 80%;
  height: 50px;
}
.msg_send-sep:before {
  background: rgb(72, 61, 139,0.3);
}

.msg_send-1 {
  background: #483D8B;
  color: #fff;
}
.msg_send-1:hover {
  background: #6b5fb9;
}
.msg_send-1:active {
  background: #508a3d;
  top: 8px;
}
.msg_send-1:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 110%;
  width: 60px;
}

.icon-send:before {
  content: "\27A4";
}
