html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Kanit', sans-serif;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: Gainsboro;
}

h1 {
  font-size: 115px;
  font-weight: 700;
  letter-spacing: 20px;
  margin: 0;
}

h2 {
  margin: 0;
  padding-bottom: 30px;
}

.headings {
  font-size: 70px;
  font-weight: 600;
  color: DarkSlateBlue;
  text-shadow: -1px -1px 0 DarkSlateBlue, 1px -1px 0 DarkSlateBlue, -1px 1px 0 DarkSlateBlue, 1px 1px 0 DarkSlateBlue;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 25px;
  font-weight: 300;
  margin: 0;
}

header {
  box-sizing: border-box;
}

u {
  color: white;
}

/* Intro */

.d-anim {
  animation: rotate 5s ease-in-out alternate infinite;
}
.d-anim:before {
  content: attr(data-shadow);
  color: transparent;
  text-shadow: 0 0 15px rgb(220, 220, 220, 0);
  position: absolute;
  z-index: -1;
  margin: -0.1em 0 0 0;
  animation: skew 2s ease-in-out alternate infinite;
  transform-origin: bottom;
}
@keyframes rotate {
  from {
    transform: rotateY(-20deg);
  }
  to {
    transform: rotateY(20deg);
  }
}
@keyframes skew {
  from {
    transform: scaleY(0.3) skewX(-15deg);
  }
  to {
    transform: scaleY(0.3) skewX(-20deg);
  }
}

.d-anim-1 {
  animation: rotate-1 5s ease-in-out alternate infinite;
}
.d-anim-1:before {
  content: attr(data-shadow);
  color: transparent;
  text-shadow: 0 0 15px rgb(220, 220, 220, 0);
  position: absolute;
  z-index: -1;
  margin: -0.1em 0 0 0;
  animation: skew 2s ease-in-out alternate infinite;
  transform-origin: bottom;
}
@keyframes rotate-1 {
  from {
    transform: rotateY(20deg);
  }
  to {
    transform: rotateY(-20deg);
  }
}

#canvas {
  position: absolute;
  top:0;
  bottom:0;
  z-index: 10;
}

#intro {
  z-index: 10;
  position: relative;
  perspective: 1000px;
  perspective-origin: 50% -200px;
}

.hero {
  background-image: linear-gradient(0deg, Gainsboro 0%, #666666 85%);
  width: auto;
}

.hero-area {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  display: table;
  margin: 0 auto;
  text-align: center;
  color: #2e2759;
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards .1s;
  z-index: 10;
  opacity: 0;
  position: relative;
  padding-top: 100px;
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.cred {
  font-weight: 400;
  font-size: 50px;
}

.cred1 {
    font-weight: 400;
    font-size: 32px;
}

.h-flex {
  display: flex;
}

.social {
  margin-left: 50px;
  padding-top: 35px;
}

.soc {
  opacity: 1;
  display: block;
  height: 50px;
  transition: 1.5s ease;
  backface-visibility: hidden;
  margin-right: 20px;
}

.lnkdn {
  border-radius: 150px;
}

.container {
    background-color: rgb(40, 89, 138);
    width: 51px;
    padding: 3px;
    border-radius: 50px;
    transition: 1.5s ease;
}

.container:hover {
  animation: blinker 1.5s linear infinite, grow1 1.5s linear infinite;
}

.container:hover .soc {
  animation: blinker 1.5s linear infinite, grow 1.5s linear infinite;
}

.container:active .soc {
  height: 50px;
  width: 51px;
}

@keyframes blinker {
  0%   {opacity: 1;}
  100%  {opacity: 0.5;}
}

@keyframes grow {
  0%   {height: 50px;}
  25%  {height: 54px;}
  50%  {height: 58px;}
  75%  {height: 54px;}
  100% {height: 50px;}
}

@keyframes grow1 {
  0%   {width: 51px;}
  25%  {width: 56px;}
  50%  {width: 60px;}
  75%  {width: 56px;}
  100% {width: 51px;}
}

/* Go To Bottom */

.dwnbtn {
  margin-top: 200px;
}

.downbtn {
  position: relative;
  background: rgb(72, 61, 139, 0.6);
  text-decoration: none;
  text-align: center;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 43px;
  color: Gainsboro;
  font-size: 22px;
  border-radius: 30px;
  transition: all .2s;
}

.downbtn:hover {
  background: rgb(72, 61, 139, 1);
  transition: all .2s;
}

/* Wobble Vertical */

@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  33.3% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  49.95% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Nav Bar */

.logo {
  height: 70px;
  margin: 0px;
  border-radius: 20px;
  border: Gainsboro solid 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.active {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 40px;
  padding-bottom: 8px;
}

.logo:hover {
  border: 1px inset rgba(255, 255, 255, 1);
  box-shadow: 0 0 40px 40px rgb(64, 54, 124, 0.2) inset, 0 0 0 0 rgb(64, 54, 124, 0.2);
}

.topnav {
  overflow: hidden;
  background-color: Gainsboro;
  border-top: 2px #cccccc solid;
  border-bottom: 2px #cccccc solid;
  position: sticky;
  top: 0;
  z-index: 10;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}

.nav-link {
<<<<<<< HEAD
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 3px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
=======
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 17px;
  padding-bottom: 10px;
>>>>>>> 70102a406c66108d87632de3ee0dac9932b3dd27
}

.icon {
  font-size: 45px;
  padding-top: 16px;
  padding-right: 10px;
}

.nav-color {
  color: DarkSlateBlue;
}

.nav-color:hover {
  color: #6b5fb9;
}

.nav-color:active {
  color: #508a3d;
}

@media screen and (max-width: 1080px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1080px) {
  .topnav.responsive {position: sticky;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .active {
    padding-bottom: 5px;
  }
}

.box-3 {
  background-color: Gainsboro;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: auto;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-abt {
  color: Black;
  transition: all 0.5s;
  position: relative;
}

.btn-abt::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(72, 61, 139, 0.2);
  transition: all .5s;
  border-radius: 150px;
  border: 1px outset rgba(220, 220, 220, 1);
}

.btn-abt:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}

.btn-abt::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all .8s;
  border: 1px inset rgba(220, 220, 220, 1);
  transform: scale(1.2,1.2);
  border-radius: 150px;
}

.btn-abt:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.btn-abt:active::before {
  opacity: 1;
  transform: scale(1,1);
}
.btn-abt:active::after {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}

/* About Me */

.sub-section {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 50px;
  background-image: url('images/abt_bg.mp4');
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.headshot {
  width: 300px;
  border-radius: 150px;
  box-shadow: 5px 5px 20px #4d4d4d;
}

.headshot-container {
  display: flex;
  align-items: center;
  padding-bottom: 150px;
  padding-top: 140px;
  padding-left: 20px;
}

.information {
  align-items: center;
  padding-bottom: 150px;
  padding-top: 120px;
}

/* Skills */

.sub-section3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 125px;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
}

.skill-card {
   width: 300px;
   border: outset 2px DarkSlateBlue;
   box-shadow: 5px 5px 20px #4d4d4d;
   margin: 20px;
   border-radius: 50px;
   outline: none;
   background: rgb(175, 175, 175, 0.5);
}

.skill-card:hover {
  border: inset 2px DarkSlateBlue;
}

.skill-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-image {
  margin-top: 8px;
  height: 100px;
  border-radius: 0px;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.glow-on-hover {
    cursor: pointer;
    position: relative;
    z-index: 0;
    width: 300px;
    border-radius: 50px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    width: 300px;
    border-radius: 50px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    background: rgb(175, 175, 175, 0.95);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Experience */

.subtext-exp {
  font-size: 18px;
  font-weight: 300;
  margin: 5px;
  color: antiquewhite;
}

.subtext-edu {
    font-size: 30px;
    font-weight: 300;
    margin: 5px;
    color: white;
}

.subtext {
    font-size: 18px;
    font-weight: 300;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px;
}

.sub-section2 {
  display: flex;
  flex-direction: column;
  text-align: center;
<<<<<<< HEAD
  padding-bottom: 50px;
  padding-top: 130px;
}

.sub-section2alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 175px;
    padding-top: 50px;
=======
  padding-bottom: 75px;
  padding-top: 100px;
}

.sub-section2alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 0px;
}

.project-card {
    width: 450px;
    box-shadow: 5px 5px 20px #4d4d4d;
    margin: 10px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 35px;
    margin: 40px;
    transition: .8s;
>>>>>>> 70102a406c66108d87632de3ee0dac9932b3dd27
}

.project-card {
    width: 450px;
    box-shadow: 5px 5px 20px #4d4d4d;
    margin: 10px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 50px;
    margin: 40px;
    transition: 1.2s;
}

/*
.project-card:hover {
  transition: 1.2s;
  padding: 30px;
}
 */

.project-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding-bottom: 10px;
}

.project-image {
   margin-top: 10px;
   width: 250px;
   padding: 10px;
   background-color: rgb(220, 220, 220, 0.35);
   border-radius: 12px;
}

.project-title {
    color: antiquewhite;
}

.edu-card {
    width: 500px;
    box-shadow: 5px 5px 20px #4d4d4d;
    margin: 10px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 25px;
    margin: 40px;
<<<<<<< HEAD
    transition: 1.2s;
}

.edu-card:hover {
    transition: 1.2s;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.edu-card:hover .edu-image {
    transition: 1.2s;
    width: 450px;
}

.edu-card:hover .eng-title {
    transition: 1.2s;
    color: hsl(50, 94%, 70%);
    font-size: 30px;
    text-shadow: 0 0 3px #d1d1d1, 0 0 5px #545454;
}

.edu-card:hover .da-title {
    transition: 1.2s;
    color: hsl(35, 95%, 60%);
    font-size: 30px;
    text-shadow: 0 0 3px #d1d1d1, 0 0 5px #545454;
}

=======
    transition: .8s;
}

.edu-card:hover {
    transition: .8s;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
}

>>>>>>> 70102a406c66108d87632de3ee0dac9932b3dd27
.edu-image {
    margin-top: 10px;
    width: 400px;
    padding: 10px;
    background-color: rgb(220, 220, 220, 0.35);
    border-radius: 12px;
<<<<<<< HEAD
    transition: 1.2s;
}

.eng-title {
    font-size: 25px;
    font-weight: 300;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.da-title {
    font-size: 25px;
=======
}

.edu-title {
    font-size: 23px;
>>>>>>> 70102a406c66108d87632de3ee0dac9932b3dd27
    font-weight: 300;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.uci {
    position: relative;
    background-image: linear-gradient(to top, hsl(44, 94%, 62%), hsl(220, 86%, 30%));
    z-index: 1;
}

.uci::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, hsl(44, 94%, 62%), hsl(220, 86%, 30%));
    z-index: -1;
<<<<<<< HEAD
    transition: opacity 1s linear;
=======
    transition: opacity 0.5s linear;
>>>>>>> 70102a406c66108d87632de3ee0dac9932b3dd27
    opacity: 0;
    border-radius: 10px;
}

.uci:hover::before {
    opacity: 1;
}

.csuf {
    position: relative;
    background-image: linear-gradient(to top, hsl(26, 95%, 53%), hsl(220, 97%, 39%));
    z-index: 1;
}

.csuf::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, hsl(26, 95%, 53%), hsl(220, 97%, 39%));
    z-index: -1;
<<<<<<< HEAD
    transition: opacity 1s linear;
=======
    transition: opacity 0.5s linear;
>>>>>>> 70102a406c66108d87632de3ee0dac9932b3dd27
    opacity: 0;
    border-radius: 10px;
}

.csuf:hover::before {
    opacity: 1;
}

.gkn {
    background-image: url('images/GKN_bg.jpg');
    background-position: center;
<<<<<<< HEAD
    background-size: 525px 650px;
=======
    background-size: 500px 650px;
>>>>>>> 70102a406c66108d87632de3ee0dac9932b3dd27
    background-repeat: no-repeat;
}

.gkn:hover {
<<<<<<< HEAD
    transition: 1.2s;
    padding: 30px;
=======
    transition: .8s;
    padding: 20px;
>>>>>>> 70102a406c66108d87632de3ee0dac9932b3dd27
}

.cw {
  background-image: url('images/CW_bg.png');
  background-position: center;
<<<<<<< HEAD
  background-size: 525px 650px;
=======
  background-size: 500px 650px;
>>>>>>> 70102a406c66108d87632de3ee0dac9932b3dd27
  background-repeat: no-repeat;
}

.cw:hover {
<<<<<<< HEAD
    transition: 1.2s;
    padding: 30px;
=======
    transition: .8s;
    padding: 20px;
>>>>>>> 70102a406c66108d87632de3ee0dac9932b3dd27
}

.uc {
  background-image: url('images/UC_bg.jpg');
  background-position: center;
<<<<<<< HEAD
  background-size: 525px 650px;
=======
  background-size: 500px 650px;
>>>>>>> 70102a406c66108d87632de3ee0dac9932b3dd27
  background-repeat: no-repeat;
}

.uc:hover {
<<<<<<< HEAD
    transition: 1.2s;
    padding: 30px;
=======
    transition: .8s;
    padding: 20px;
>>>>>>> 70102a406c66108d87632de3ee0dac9932b3dd27
}

.arc {
  background-color: #800000;
  background-position: center;
  background-repeat: no-repeat;
}

/* Contact */

#contact-me {
  display: none;
}

.footer {
  position: fixed;
  background: rgb(220, 220, 220, 0.9);
  bottom: 15%;
  right: 25%;
  left: 25%;
  text-decoration: none;
  text-align: center;
  color: Gainsboro;
  border-radius: 15px;
  z-index: 5;
}

.contact {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

.contact2 {
    color: black;
}

input textarea {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
}

.contact-box {
  border-radius: 10px;
  font-family: 'Kanit', sans-serif;
  padding: 10px;
  width: 80%;
  height: 25px;
}

.contact-box-1 {
  border-radius: 10px;
  font-family: 'Kanit', sans-serif;
  padding: 10px;
  width: 80%;
  height: 200px;
}

.contact-box:focus {
  outline: none;
}

.msg_send {
  border: none;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
}

.msg_send:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
}

.msg_send:before {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
  border-radius: 10px;
}

.msg_send-sep {
  padding: 15px 60px 15px 120px;
  width: 80%;
  height: 50px;
}
.msg_send-sep:before {
  background: rgb(72, 61, 139,0.3);
}

.msg_send-1 {
  background: #483D8B;
  color: #fff;
}
.msg_send-1:hover {
  background: #6b5fb9;
}
.msg_send-1:active {
  background: #508a3d;
  top: 8px;
}
.msg_send-1:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 110%;
  width: 60px;
}

.icon-send:before {
  content: "\27A4";
}

/* Projects */

.sub-section4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(0deg, #666666 0%, Gainsboro 85%);
}

.app-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border: 2px Gainsboro inset;
  border-radius: 50px;
  background-color: #bfbfbf;
  margin-bottom: 5px;
}

.clk-img {
  border: outset 1px #40367c;
  box-shadow: 5px 5px 20px #4d4d4d;
  border-radius: 200px;
}

.app-icon {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-container:hover {
  border: 2px DarkSlateBlue outset;
  box-shadow: 5px 5px 20px #4d4d4d;
  border-radius: 50px;
  background-color: rgb(191, 191, 191, 0.7);
}

.app-container:active {
  width: 255px;
  border: 5px DarkSlateBlue inset;
  box-shadow: 5px 5px 20px #4d4d4d;
  border-radius: 50px;
}

.app-title {
  border: 2px ridge #40367c;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

/* Fade In */

.fade-in {
  opacity: 0;
  transition: opacity .75s ease-in;
}

.fade-in.appear {
  opacity: 1;
}

/* Go To Top */

.gotopbtn {
  position: fixed;
  width: 40px;
  height: 40px;
  background: rgb(72, 61, 139, 0.5);
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 43px;
  color: Gainsboro;
  font-size: 22px;
  border-radius: 15px;
}

.gotopbtn:hover {
  background: rgb(46, 39, 89, 0.7);
  margin-bottom: 7px;
  transition: all .2s;
}

.arrow {
  padding-top: 9px;
  transition: all .2s;
}

.arrow:hover {
  padding-top: 7px;
  transition: all .2s;
}

.hide {
  display: none;
}

/* Last Line */
.last-line {
  text-align: center;
  font-size: 10px;
  color: Gainsboro;
}
